DB_HOST = '127.0.0.1'
DB_PORT = 3306
DB_USERNAME = 'analyticswk'
DB_PASSWORD = 'analyticspasswordkarasu'
DB_DATABASE = 'analyticsdb'
DB_SSL_CA_PATH = ''
JWT_SECRET = '_Awes0meS3cr3t_'
ACTIVATE_LOG_QUERIES = 'true'
